.rating{
	display: flex;
	align-items: center;
	gap:10px;
	padding-bottom: 10px;
}
@media(max-width: 395px){
	/*.rating{
		flex-direction: column;
	}
	.circular-bar{
		display: none;
	}*/
	.stars{
		display: none;
	}
}