/* HomeScreen */
.home_screen {
  width: 100%;
}
.home_screen__banner {
  /* background-color: blue; */
  height: 400px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner__text {
  color: #f1f1f1;
  padding: 60px;
  height: 100%;
  width: 70%;
}

.banner__text h1 {
  font-size: 2em;
}
.banner__text p {
  font-size: 0.8em;
  display: block;
  padding: 20px 0;

}

@media(max-width: 600px){
.home_screen__banner {

  height: 100vh;
}
  .banner__text {
  color: #f1f1f1;
  padding: 60px 5%;
  padding-top: 50%;
  width: 100%;

}
}

.movies_container {
  padding: 40px 20px;
  background-color: rgba(18, 18, 18, 0.7);
}
