h1,
p {
  color: #f1f1f1;
}

.movie-screen {
  overflow-y: hidden;
  overflow-x: hidden;
}
.hero {
  position: relative;
  min-height: 100vh;
  max-height: 100vh;
  height: auto;
  padding: 40px;
  display: flex;
  align-items: center;

  background-size: cover;
  background-position: top center;

  overflow-y: hidden;
  overflow-x: hidden;
}

.hero .poster {
  margin-right: 20px;
  height: 100%;
}
.hero .poster .btn-outline {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  /*background-color: rgba(18, 18, 18, .9);*/
}
img {
  max-width: 300px;
  width: 100%;
  max-height: 400px;
  width: 100%;
}

.texts {
  /*background-color: red;*/
  width: 60%;
  height: auto;
}
.texts h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}
.texts > p {
  margin: 10px 0;
  color: white;

  font-size: 1em;
  padding-bottom: 20px;
}

.texts span {
  color: white;
}
.details p {
  color: lightblue;
  font-weight: bold;
}
.details span {
  color: #f1f1f1;
  font-weight: lighter;
}
.seasons{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
}
@media(max-width: 650px){
  .hero{
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .texts{
  padding-top: 40px;
  width: 100%;
  }
  .texts h1{
    font-size: 1.7em;
  }
  
  .hero .poster img{
    display: none;
  }
  .hero .poster {
  width: 100%;
    
  }
  .poster .btn-outline {
  width: 70%;
}
}
